.sidebar {
    height: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    height: calc(100% - 80px);
    background-color: rgb(92, 12, 92);
    color: white;
    overflow-y: auto;
    padding-top: 20px;
    padding: 15px;
}
